/* RESETEO DE TODO EL CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body,
html {
  font-family: "Roboto Condensed", sans-serif;
  min-width: 360px;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* VARIABLES DE COLORES QUEDA PENDIENTE DE REFACTORIZAR  */
:root {
  --fontSizeMedium: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  --purpleColor: #271d3b;
  --blackColor: black;
  --whiteColor: aliceblue;
  --mostaza: rgb(255, 208, 0);
  --transitions: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

/* <!--   SLIDER DE DESCUENTOS VERTICAL QUE PERMANECE ARRIBA DEL HEADER EN TODA LA PAGINA --> */
.discountSection {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  overflow: hidden;
  z-index: 10;
}
.discountContainer {
  height: 120px;
  position: relative;
  top: 0;
}

.discountContainer p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  font-size: var(--fontSizeMedium);
  animation: slideHeader 8s infinite alternate cubic-bezier(0.85, 0, 0.15, 1);
}
@keyframes slideHeader {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-30px);
  }
  45% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-60px);
  }
  70% {
    transform: translateY(-60px);
  }

  75% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-90px);
  }
}
/*  <!--  FIN SLIDER DE DESCUENTOS VERTICAL QUE PERMANECE ARRIBA DEL HEADER EN TODA LA PAGINA -->*/

/*COMIENZO DEL HEADER*/
.headerSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0px;
  background-color: var(--blackColor);
  z-index: 15;
}

.headerSection img {
  height: 70px;
}

.navContainer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.navContainer ul li a {
  color: var(--whiteColor);
  font-size: 1.25rem;
}
.navContainer ul li a:hover {
  color: rgb(243, 243, 69);
  transition: all 500ms;
}
#hotSale {
  color: rgb(214, 54, 54);
}
#hotSale:hover {
  font-weight: bold;
  transition: 200ms ease-in-out;
}
.headerSection--loggin-register {
  display: flex;
  gap: 15px;
}
.loggin-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}
.loggin-register > img:hover {
  animation: scale 0.9s both;
}
@keyframes scale {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/*CSS DEL TOOLTIP DEL REGISTRO E INICIO DE SESION*/
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  display: none;
  position: absolute;
  font-size: 1em;
  box-sizing: border-box;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  border: 5px solid transparent;
  content: "";
  z-index: 100;
}
[data-tooltip]:after {
  padding: 6px 8px;
  color: var(--whiteColor);
  text-align: center;
  overflow: hidden;
  background: var(--blackColor);
  border-radius: 3px;
  content: attr(data-tooltip);
  max-width: 21em;
  min-width: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--blackColor);
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-bottom-color: var(--blackColor);
  border-top-width: 0;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  left: calc(0em - 5px);
  border-left-color: var(--blackColor);
  border-right-width: 0;
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  right: calc(0em - 5px);
  border-left-width: 0;
  border-right-color: var(--blackColor);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

/*ESTILOS DEL MENU HAMBURGUESA*/

.headerSection label {
  display: none;
  width: 50px;
  height: 50px;
  transform: translateX(-10px);
  z-index: 15;
}
.burger--loggin-register {
  display: none;
}
.burgerMenu__icon {
  cursor: pointer;
}
/*FIN DEL HEADER*/

/*COMEIZO DEL HERO SECTION*/
.heroSliderSection {
  width: 100%;
  overflow-x: hidden;
}
.imgContainer {
  display: flex;
  padding: 0;
  width: 100%;
}
.imgContainer img {
  width: 100vw;
}
.swiper-pagination span {
  background-color: #000000;
}

/*FIN DEL HERO SECTION*/

.indexZapaHero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93vh;
  position: relative;
  overflow: hidden;
  margin-top: -10px;
  background-color: var(--purpleColor);
}
.indexZapaHeroCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  color: var(--whiteColor);
  font-size: 1.5em;
  flex-direction: column;
}
.indexZapaHeroCover {
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.indexZapaHeroCover span {
  display: flex;
  justify-content: center;
  gap: 250px;
  width: 100%;
  position: absolute;
  bottom: 120px;
  animation: appear 0.7s ease-in infinite alternate;
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.indexZapaHeroCover img {
  height: 50px;
}
.indexZapaHeroCover img:nth-child(1) {
  transform: rotate(-40deg);
}
.indexZapaHeroCover img:nth-child(2) {
  transform: translateY(-40px);
}
.indexZapaHeroCover img:nth-child(3) {
  transform: rotate(20deg);
}
.sliderZapaContainerUL {
  width: 100%;
  height: 100%;
  position: relative;
}

.sliderZapaContainerUL li {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;

  transition: all 0.1s;
}

#sliderZapa1 {
  background-color: #aa3333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='785' height='392.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF0000' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23FFF008' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

#sliderZapa2 {
  background-image: url(/assets/indexClothing/indexShoes/bg-slider4.jpg);
  background-position: center;
  background-size: cover;
}

#sliderZapa3 {
  background-image: url(/assets/indexClothing/indexShoes/bg-slider1.jpg);
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.imgSlider {
  background-color: #180228;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 60%;
  transform: rotate(15deg);
}
.imgSlider img {
  width: 100%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: floating;
  animation-timing-function: alternate;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }

  100% {
    transform: translatey(0px);
  }
}
.textSliders {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto 0;
  width: 50%;
  height: 80%;

  flex-direction: column;
}
.textSliders h3 {
  font-size: 3em;
}

.textSliders h4 {
  font-size: 1.2em;
}
.textSliders p {
  font-size: 3em;
  font-weight: bolder;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 20%;
}
.colorContainer_color {
  width: 90px;
  height: 90px;
  border-radius: 15px;
}
.colorContainer_color:nth-child(1) {
  background-color: rgb(255, 136, 0);
}
.colorContainer_color:nth-child(1):hover {
  border: 5px solid rgb(179, 95, 0);
}
.colorContainer_color:nth-child(2) {
  background-color: rgb(255, 255, 255);
}
.colorContainer_color:nth-child(2):hover {
  border: 5px solid rgb(119, 119, 119);
}
.colorContainer_color:nth-child(3) {
  background-color: rgb(0, 0, 0);
}

.colorContainer_color:nth-child(3):hover {
  border: 5px solid rgb(65, 65, 65);
}

.textSliders span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  width: 80%;
  border: transparent;
}

.seeMoreBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 56px;
  position: relative;
  color: var(--blackColor);
  font-size: 1em;
  overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
}

.seeMoreBTN:nth-child(2) {
  width: 240px;
}

.seeMoreBTN > div,
.seeMoreBTN > svg {
  display: flex;
  gap: 5px;
  width: 60%;
  height: 60%;
  position: absolute;
}

.seeMoreBTN:before {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: currentColor;
  content: "";
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.seeMoreBTN:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.seeMoreBTN .clone > *,
.seeMoreBTN .seeMoreBTN_text > * {
  font-size: 1.3rem;
  opacity: 1;
  transition: 0.2s;
}

.seeMoreBTN .clone > * {
  transform: translateY(60px);
}

.seeMoreBTN:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.seeMoreBTN:hover .seeMoreBTN_text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.seeMoreBTN:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.seeMoreBTN:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.seeMoreBTN:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.seeMoreBTN:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}

.seeMoreBTN svg {
  width: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.seeMoreBTN:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}

.indexZapaHeroMenu {
  display: flex;
  gap: 35px;
  margin: 0 auto;
  position: absolute;
  bottom: 15px;
}
.indexZapaHeroMenu li {
  width: 70px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 10;
}
.indexZapaHeroMenu li:hover {
  border: 4px solid rgb(160, 160, 160);
}
.indexZapaHeroMenu li img {
  width: 100%;
  height: 100%;
}
.sliderZapaContainerUL li:target {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0;
  transition: all 1s;
  animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-left-fwd {
  0% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}

.skateSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
  height: 70vh;
}

.skateContainer {
  min-width: 350px;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderSkate {
  height: 100%;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderSkate img {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skateContainer_description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.skateContainer_description__txtWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}
.skateContainer_description__txtWrapper h4 {
  font-size: 25px;
  text-align: right;
}
.skateContainer_description__txtWrapper p {
  font-size: 20px;
}
.skateContainer_description__txtWrapper img {
  width: 100%;
}
.skateContainer_description__btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
/* TARJETAS CON ENLACES A LAS SECCIONES DE ROPA*/
.clothingIndexSection {
  display: grid;
  gap: 0px 0px;
  background-color: var(--blackColor);
  grid-template-areas:
    "ropaMujer Skate ropaHombre"
    "zapas zapas zapas";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ropaMujer img,
.Skate img,
.ropaHombre img,
.zapas img {
  width: 100%;
  height: 100%;
  z-index: 5;
}
.zapas img:nth-child(2) {
  display: none;
}
.ropaMujer,
.Skate,
.ropaHombre,
.zapas {
  position: relative;
  filter: grayscale(10);
}
.ropaMujer div,
.Skate div,
.ropaHombre div,
.zapas div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bolder;
}
.ropaMujer div h3,
.Skate div h3,
.ropaHombre div h3,
.zapas div h3 {
  width: 100%;
  background-color: black;
  color: var(--whiteColor);
  text-align: center;
}

.ropaMujer:hover,
.Skate:hover,
.ropaHombre:hover,
.zapas:hover {
  filter: grayscale(0);
  transition: var(--transitions);
}

.ropaMujer {
  grid-area: ropaMujer;
}

.Skate {
  grid-area: Skate;
}

.ropaHombre {
  grid-area: ropaHombre;
}

.zapas {
  grid-area: zapas;
}

/* TARJETAS CON ENLACES A LAS SECCIONES DE ROPA*/

/*CARDS CON ROPA DE HOMBRE Y MUJER QUE ESTAN EN EL INDEX, TAMBIEN ES EL ESTILO DE LAS DISTINTAS SECCIONES DE LA PAGINA DONDE HAY CARDS DE ROPA */
.indexCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.indexCards h2 {
  padding: 15px;
  width: 100%;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  text-align: start;
  font-family: sans-serif;
}
.indexCards > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 10px;
  width: 100%;
  overflow: hidden;
  max-width: 1800px;
}

.clothingCards {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  transition: var(--transitions);
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clothingCards:hover {
  border: 1px solid var(--purpleColor);
  box-shadow: none;
  transform: scale(1.03);
  transition: var(--transitions);
}

.clothingCards img {
  width: 100%;
}
.clothingCards_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  border-top: 3px solid black;
  flex-direction: column;
}
.clothingCards_div p:first-child {
  font-weight: bolder;
}
.clothingCards_div p:nth-child(2) {
  font-size: 1.3em;
}
.clothingCards_div p:nth-child(3) {
  font-weight: bold;
}

.clothingCards:hover .clothingCards_div {
  border-top: 3px solid var(--purpleColor);
}
.clothingCards:hover .clothingCards_div p:nth-child(3) {
  color: red;
}

.clothingCards_div span {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.clothingCards__button {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 0;
  position: relative;
  color: black;
  text-align: center;
  font-size: 15px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 black;
  cursor: pointer;
  transition: ease-out 0.5s;
}

.clothingCards__button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 black;
}

.clothingCards__button:active {
  transform: scale(0.9);
}

.seeMore_btn {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 0;
  position: relative;
  color: black;
  text-align: center;
  font-size: 15px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 black;
  cursor: pointer;
  transition: ease-out 0.5s;
}

.seeMore_btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 black;
}

.seeMore_btn:active {
  transform: scale(0.9);
}

/*BANNER DE VANS*/
.banner__vansIndex {
  width: 100%;
  background-color: black;
}
.banner__vansIndex {
  width: 100%;
}
.banner__vansIndex img {
  width: 100%;
}
/*FIN BANNER DE VANS*/

.miCarrito {
  display: flex;
  align-items: center;
  height: 90vh;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 15;
}
.CartBtn {
  display: flex;
  font-size: 17px;
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 140px;
  position: sticky;
  background-color: var(--mostaza);
  overflow: hidden;
  border: none;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 14;
}
.cuantityCart {
  background-color: black;
  padding: 4px 10px;
  color: #e0e0e0;
  font-weight: bolder;
  border-radius: 60px;
  display: none;
  transition: all 1s ease-in-out;
}

.CartBtn:hover .cuantityCart {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 5;
}

.hasCartCuantity {
  display: block;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgb(17, 17, 17);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-orientation: upright;
  transition-duration: 0.5s;
  writing-mode: vertical-rl;
  z-index: 1;
}
.replaceAnimatedIcon {
  display: none;
}

.CartBtn:hover .IconContainer {
  color: rgb(255, 0, 0);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 5;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.btnCartDisable {
  background-color: #bfbfbf;
  color: #000000;
  cursor: not-allowed;
  border: none;
}
.btnCartDisable:hover {
  color: #000000;
  box-shadow: none;
}

.cartContainer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 0;
  height: 90vh;
  position: sticky;
  top: 0;
  background-color: var(--whiteColor);
  border-bottom-left-radius: 10px;
  flex-direction: column;
  overflow-y: scroll;
  transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  z-index: 13;
}

.cartContainer::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.cartContainer::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.cartContainer::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

#cartInput {
  display: none;
}
.cartFocus {
  transition: all 0.3s ease-in-out;
}
.cartFocusActive {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(59, 59, 59, 0.322);
  backdrop-filter: blur(2px);
  transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
  z-index: 13;
}
/*  CUANDO EL CARRITO ESTA ACTIVO */
.cartActive {
  padding: 5px 5px;
  width: 300px;
}
.cartCards__Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  width: 100%;
  position: relative;
  top: 25px;
  flex-direction: column;
}
.cartCard {
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: 100px;

  text-align: center;
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid rgb(136, 134, 134);
  cursor: pointer;
}
.trashIcon {
  padding: 15px;
  color: red;
  font-size: 20px;
  z-index: 25;
}
.trashIcon:hover {
  font-weight: bolder;
  transform: scale(1.2);
}
.cartCard img {
  height: 100%;
}
.cartCard--text {
  font-size: 14px;
  padding-right: 20px;
}
.item-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}
.item-handler span:hover:not(:nth-child(2)) {
  font-weight: bolder;
  transform: scale(1.2);
}
.cartTotal {
  display: flex;
  gap: 5px;
  margin: 15px 0;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.cartTotal span {
  display: flex;
  justify-content: space-between;
}
.cartTotal button {
  width: 100%;
}

.whatsappIcon {
  display: flex;
  width: 50px;
  height: 40px;
  position: fixed;
  right: 0;
  bottom: 15px;
  background-color: green;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  justify-self: center;
  z-index: 20;
}
.whatsappIcon a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-self: center;
}
.whatsappIcon a img {
  margin: 0 auto;
  height: 80%;
}

.sliderDiscountBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-color: #e0e0e0;
}
.discountContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  text-align: center;
  font-size: 1em;
  flex-direction: column;
  font-weight: bold;
  transition: var(--transitions);
  user-select: none;
}

.discountContainerBottom:hover {
  font-weight: bolder;
  transform: scale(1.1);
}

.discountContainerBottom img {
  height: 50%;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  z-index: 8;
}
.footerSocialMedia {
  margin-right: 40px;
}
.footerSocialMedia {
  display: flex;
  gap: 10px;
}
.footerSocialMedia img {
  height: 100%;
  cursor: pointer;
  filter: grayscale(1);
}
.footerSocialMedia img:hover {
  filter: grayscale(0);
}

.formFieldError {
  border: 1px solid rgba(198, 11, 11, 0.952) !important;
}

.formFieldsuccess {
  border: 1px solid rgba(2, 132, 0, 0.952) !important;
}

.loggin {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.246);
  z-index: 20;
  backdrop-filter: blur(10px);
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logginContainer {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  position: relative;
  top: 10%;
  animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.logginForm {
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.logginForm i {
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--whiteColor);
}
.logginForm input {
  width: 90%;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--whiteColor);
  border-radius: 3px;
  padding: 15px;
  color: var(--whiteColor);
}

.logginForm button {
  width: 90%;
  color: var(--whiteColor);
  border: 2px solid var(--whiteColor);
  box-shadow: inset 0 0 0 0 var(--whiteColor);
}

.logginForm button:hover {
  color: var(--blackColor);
  box-shadow: inset 0 -100px 0 0 var(--whiteColor);
}
.logginForm a {
  color: var(--whiteColor);
  font-weight: 200;
  font-size: 20px;
}
.logginForm a:hover {
  color: yellow;
}
.logginForm h4 {
  font-size: 30px;
}
.isLoggedIn {
  display: none;
}
#logginSesion_li,
.sesionContainer {
  color: var(--whiteColor);
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loggOut {
  color: rgb(214, 54, 54);
  padding-left: 10px;
}

.loggOut:hover {
  font-weight: bold;
  transition: 200ms ease-in-out;
}

.logginContainer video {
  width: 50%;
  height: 100%;
}

.logginContainer hr {
  width: 90%;
  border: 1px solid var(--whiteColor);
}

.showLoggin {
  display: block;
}
