 
.backgroundSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 20.25%;

 
}
.backgroundSection div{
  width: 100%;
  height: 200vh;

  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 5;
}
.backgroundSection video {
  position: absolute;
  top: 0;

}
.logginSection {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;

}

.logginContainer {
  background-color: var(--blackColor);
  color: var(--whiteColor);
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.logginContainer a {
  color: var(--whiteColor);
}
.logginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logginForm h4{
    font-size: 30px;
}
.logginForm input {
  width: 90%;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--whiteColor);
  border-radius: 3px;
  padding: 15px;
  color: var(--whiteColor);
}
.logginForm button {
  width: 90%;
  color: var(--whiteColor);
  border: 2px solid var(--whiteColor);
  box-shadow: inset 0 0 0 0 var(--whiteColor);
}

.logginForm button:hover {
  color: var(--blackColor);
  box-shadow: inset 0 -100px 0 0 var(--whiteColor);
}

.logginContainer hr{
    width: 90%;
    border: 1px solid var(--whiteColor);
}

.logginContainer > button{
    width: 90%;
    height: 50px;
     background-color: aliceblue;
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 20px;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     padding: 3px;
 font-family: Helvetica, sans-serif;
     font-size: 15px;
}
.logginContainer > button:hover{
    transform: scale(1.03);
}
.logginWhitSocial img{
    height: 90%;
}
.logginWhitSocial{
    width: 100%;
    height: 100%;
}

.logginWhitSocial{
    background-color: aliceblue;
}
.logginWhitSocial{
    background-color: aliceblue;
}

.footerSection{
    position: ab;
    bottom: 0;
}